#MovingObject{
    height: 100px;
    display: flex;
    margin: auto;
    margin-top: 400px;
}
#GK{
    background-color: red;
    position: absolute;
    display: flex;
    top: 50px;
    right: 250px;

    width: 75px;
    height: 150px;
}
body{
    background-color:azure;
}

